.PancakeBuilder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  &--tower {
    padding-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &--ingridients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding-right: 60px;
  }
}
