.Ingridient {
  height: auto;
  width: 400px;
  &--img {
    height: auto;
    width: 400px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    span {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      visibility: hidden;
      width: 100%;
      height: 100%;
      z-index: 2;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &:hover {
      span {
        visibility: visible;
      }
    }
  }

  &:last-child {
    a {
      &:hover {
        span {
          visibility: hidden;
        }
      }
    }
  }
}
