.alert-error {
  border: 1px solid red;
  margin-bottom: 18px;
  padding: 12px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 25px;
}
.alert-success {
  border: 1px solid #00d0ff;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 25px;
    text-align: center;
}
