.order {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #400427;
    color: #ecf0f1;
    padding: 12px;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 15px;
    text-transform: uppercase;
    width: 263px;
    margin-top: 10px;
    border-radius: 25px;
    &:hover {
      color: #e0dbde;
      background: #ab0036;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
  }

  &--header,
  &--item {
    padding: 18px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #400427;
    font-size: 18px;

    h4 {
      font-size: 18px;
      font-weight: 600;
    }
  }
  &--total {
    padding: 18px 20px;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
  }

  &--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  &--btn {
    background: #5c0024;
    color: #ecf0f1;
    padding: 9px 14px;
    text-align: center;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #5c0024;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 15px;
    text-transform: uppercase;
    width: 263px;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 25px;
    &:active,
    &:focus {
      outline: none;
      border: none;
    }

    &:hover {
      color: #bc1074;
      background: #ecf0f1;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      border: 1px solid #400427;
    }
  }
}
